* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(219, 248, 248)
}

#app {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.jobs-list {
    margin-bottom: 50px;
    width: 55%;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 20px;
    background-color: #fff;
}

.jobs-list i {
    margin-top: 10px;
    margin-right: 20px;
}

.jobs-list .company-name, .position, .job-descr, .job-details, .contract {
    text-align: center;
}

.jobs-list .job-descr {
    margin-bottom: 30px;
}

.jobs-list .position {
    text-decoration: underline;
}

.contract {
    margin-bottom: 40px;
}

.offer-saving {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-saving h4 {
    margin: 0 30px;
}

.offer-saving h5 {
    margin-top: 15px;
    margin-bottom: 0;
}

.offer-saving.star, .offer-saving.apply {
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 70px;
}

h2, h3, h4 {
    margin-top: 0;
}

.apply-alert {
    margin: 0;
    display: inline-block;
}

.apply-button {
    padding: 10px;
    border-radius: 10px;
}

.lists {
    width: 40%;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    text-align: center;
    padding: 20px;
}

.applied-list, .starred-list {
    border: 1px solid #ccc;
    min-height: 70px;
    max-height: 300px;
    border-radius: 20px;
    margin-bottom: 80px;
    padding: 10px;
    overflow-y: scroll;
    background-color: #fff;
}

.lists li {
    list-style-type: none;
    padding: 5px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.lists li span:first-child {
    font-weight: bold;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 30px;
    text-align: center;
    font-size: 28px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}