<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    
    <div id="app">

        <h1>Job listings:</h1>

        <div class="jobs-list" v-for="(offer, index) in jobs">

            <h2 class="company-name"> {{ offer.company }} </h2>
            <h4 class="position"> {{ offer.position }} </h4>

            

            <p class="job-descr"> {{ offer.description }} </p>
            <h4 class="job-details"> {{ offer.created_at }} - {{ offer.city }} </h4>
            <h4 class="contract"> {{ offer.contract }} </h4>

            <div class="offer-saving">

                <div @click="star(index)" class="offer-saving star">

                    <i v-if="starred.includes(index)" class="fas fa-star"></i>
                    <i v-else class="far fa-star"></i>

                    <h5 v-if="starred.includes(index)">Stop following this job offer.</h5>
                    <h5 class="grey" v-else-if="applied.includes(index)">Star disabled: you already applied for this offer.</h5>
                    <h5 v-else> Follow this offer by adding it to your favorites!</h5>

                </div>

                <h4>or</h4>

                <div class="offer-saving apply">
                    <button class="apply-button" @click="apply(index)">APPLY!</button>

                    <h5 v-if="applied.includes(index)" class="apply-alert">You've applied for this position!</h5>
                    <h5 v-else class="apply-alert"> Apply for this job offer!</h5>
                </div>

            </div>
        </div>

        <div class="lists">

            <h2>You've applied to:</h2>

            <div class="applied-list">
                <ul>
                    <li v-for="job in applied">
                        <h4>{{ jobs[job].company }}</h4>
                        <h5>{{ jobs[job].city }}</h5>
                        <span>{{ jobs[job].position }}</span>
                    </li>
                </ul>

            </div>

            <h2>You've starred:</h2>

            <div class="starred-list">
                <ul>
                    <li v-for="job in starred">
                        <h3>{{ jobs[job].company }}</h3>
                        <h4>{{ jobs[job].city }}</h4>
                        <span>{{ jobs[job].position }}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="modal">

            <div class="modal-content">
              <span @click="hideModal" class="close">&times;</span>
              <p>Application successful!</p>
            </div>
          
        </div>

    </div>
     
    <script src="./js/script.js"></script>
</body>
</html>