<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    
    <div id="app">

        <div class="jobs-list" v-for="(offer, index) in jobs">
            <div class="job-offer">

                <h2 class="company-name"> {{ offer.company }} </h2>
                <h4 class="position"> {{ offer.position }} </h4>

                <i @click="star(index)" v-if="starred.includes(index)" class="fas fa-star"></i>
                <i @click="star(index)" v-else class="far fa-star"></i>

                <p class="job-descr"> {{ offer.description }} </p>
                <span> {{ offer.created_at }} </span>
                <span> {{ offer.city }} </span>
                <h5> {{ offer.contract }} </h5>

                <button class="apply" @click="apply(index)">APPLY!</button>
                <h5 class="apply-alert">You've applied for this position!</h5>

            </div>
        </div>

        <div class="modal">

            <div class="modal-content">
              <span @click="hideModal" class="close">&times;</span>
              <p>Application successful!</p>
            </div>
          
        </div>

    </div>
     
    <script src="./js/script.js"></script>
</body>
</html>